@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	user-select: none;
	transition: all 0.25s linear;
}

body {
	background: #670e1c;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .wrapper {
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.container .card {
	background: linear-gradient(180deg, #0000004d, #00000099),
		url(./assets/bg.jpg);
	background-position: center;
	background-size: cover;
	height: 90%;
	width: 450px;
	border-radius: 5px;
	text-align: center;
	color: #fefefe;
	font-size: 27px;
	padding: 20px;
	box-shadow: 6px 9px 10px 2px #0c0c0cd9;
	position: relative;
	text-shadow: 6px 6px 10px #0c0c0cd9;
}

.small {
	transform: scale(0.75);
}

.card .city-country-name {
	margin-top: 15px;
}

.card .date {
	font-size: 17px;
}

.card .temp {
	display: flex;
	justify-content: center;
	align-items: center;
}

.temp .current-temp {
	font-size: 40px;
	font-weight: 900;
	margin: 5px;
}

.temp .high-temp,
.temp .low-temp {
	font-size: 15px;
}

.temp .sunny {
	height: 50px;
	width: 50px;
	animation: animate-sunny 15s forwards 0s 1;
}

@keyframes animate-sunny {
	100% {
		transform: rotate(300deg);
	}
}

.details {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	margin: 15px 0px;
	padding: 5px;
	font-size: 20px;
}

.details > * {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	text-align: left;
}

.thermometer {
	height: 50px;
	width: 50px;
}

.rain-drops {
	height: 25px;
	width: 25px;
}

.rain-chances {
	margin-left: 7px;
}

#sun-rise {
	height: 35px;
	width: 35px;
	position: relative;
	left: -17px;
}

#uvindex {
	height: 45px;
	width: 45px;
}

.arrow-con {
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.circle {
	padding: 7px;
	background: #ffffff40;
	border-radius: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.25s;
	box-shadow: 0px 3px 12px 0px #191919;
}

.circle:active {
	transform: translateY(4px);
	box-shadow: 0px 6px 18px 0px #191919;
}

.circle-shadow {
	padding: 0px;
	position: absolute;
	transition: all 0.15s;
}

.circle:active .circle-shadow {
	background-color: #ffffff40;
	padding: 19px;
	border-radius: 5pc;
}

.circle img {
	position: relative;
}

.circle .left {
	left: -2px;
}

.circle .right {
	left: 1px;
}

.bottom-line {
	height: 30px;
	width: 100%;
	box-shadow: 0px 0px 20px 0px black;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-radius: 0px 0px 5px 5px;
	display: flex;
}

.his-for-con {
	width: 80%;
}

.re {
	width: 20%;
	cursor: pointer;
	transition: all 0.25s ease;
}

.re:active {
	box-shadow: 0px 0px 10px 0px #191919;
}

.re:active span {
	transform: scale(0.92);
}
